.Palette{
    height: 100vh;
}
.Palette-colors{
    height: 90%;
}
.slider{
    width:340px;
    margin:0 10px;
    display: inline-block;
}

/* classes used in rc slider */

.rc-slider-track{
    background-color: transparent !important; 
}
.rc-slider-rail{
    height: 8px !important;
}
.rc-slider-handle:active,
.rc-slider-handle:hover,
.rc-slider-handle:focus,
.rc-slider-handle{
    background-color: green !important;
    outline: none !important;
    border: 2px solid green !important;
    box-shadow: none !important;
    width: 13px;
    height: 13px;
    margin-left: -7px;
    margin-top: -3px;
}

/* end of classes used in rc slider */